@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,400&display=swap');

:root {
    --bg: #3F181C;
    --white: #ffffff;
    --dark: #333333;
    --max-width: 1200px;
    --ylw : #fb9817;

}

.part {
    padding: 0px 16px;
    max-width: var(--max-width);
    margin: auto;

}

*{
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}

html,body {
    margin: 0;
}

body {
    line-height: 1.5;
}

.header {
    position: fixed;
    inset: 0;
    height: 64px;
    display: flex;
    align-items: center;
    background: var(--bg);
    z-index: 999;
    box-shadow:0 2px 10px rgba(0,0,0,.15);



}

.logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.logo-text {
    text-decoration: none;
    color: var(--ylw);
    user-select: none;      
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    font-size: larger;
    display:flex;
    align-items:center;

}

.navigation {
    margin-left: auto;
}


.navigation ul{
    display:flex;
    list-style:none;
    align-items:center;
}

.navigation a{
    text-decoration:none;
    color:#ffffff;
    font-weight:600;
    padding:7px 10px;
    border-radius:30px;

}

.navigation a:hover{
    background:var(--ylw);
}


.nav-menu {
    display: none;
}
.nav-menu-label {
    display: none;
    width:36px;
    height:36px;
    cursor: pointer;
    position: absolute;
    right:16px;
    top:50%;
    transform:translateY(-50%);
    z-index: 50;
}


.nav-menu-label span, .nav-menu-label span::before, .nav-menu-label span::after {
    
    background: var(--white);
    height:3px;
    width: 20px;
    border-radius: 3px;
    position: absolute;
    left: 8px;
    transition: transform 180ms cubic-bezier(0.16, 0.84, 0.32, 1);
}

.nav-menu-label span {
    top: 16px;
}
.nav-menu-label span::before {
    content: '';
    top: -7px;
}

.nav-menu-label span::after {
    content: '';
    top: 7px;
}


.nav-menu:checked + .nav-menu-label span {
    transform: rotate(45deg);
}
.nav-menu:checked + .nav-menu-label span::before {
    transform: rotate(90deg);
    top: 0;
}
.nav-menu:checked + .nav-menu-label span::after {
    opacity: 0;
}
@media (max-width: 880px) {
    .navigation {
        position: fixed;
        top: 0;
        left:0;
        height: 100vh;
        width: min(250px, 80%);
        transform: translateX(-110%);
        transition: transform 0.28s ease;
        background: var(--bg);
        padding-top: 64px;
        z-index: 1100;
        box-shadow: 6px 0 30px rgba(0,0,0,0.5);
        overflow-y: auto;
        border-bottom-right-radius: 16px;
        border-top-right-radius: 16px;
    }

    .navigation ul {
        flex-direction: column;
        gap: 0;
        padding: 12px 16px;
        margin-top: 12px;
    }

    .navigation li {
        padding: 12px; 
        border-top:1px solid rgba(0, 0, 0, 0.281);
    }

    .nav-menu:checked ~ .navigation {
        transform: translateX(0);
    }

   

    .nav-menu-label {
        display: block;
    }


    #nav-blur {
        position:fixed;
        inset:0;
        background:rgba(0,0,0,0.35);
        backdrop-filter:blur(6px);
        opacity:0;
        visibility:hidden;
        transition:opacity 0.28s ease;
        z-index:1050;
        pointer-events:none;
    }
    .nav-menu:checked ~ #nav-blur {
        opacity:1;
        visibility:visible;
        pointer-events:auto;
    }


}

main {
    padding-top: calc(64px + 1rem);
    background-color: var(--bg);
}

.home-section {
    background-color: var(--bg);
    padding: 0;
    min-height: 600px;
}

.home-content {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    padding-top: 4rem;
    padding-bottom: 4rem;



}

.bestcoffeelogo {
    width:  197px;
    height: 50px;

}

.home-left {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex: 1 1 420px


}

.home-title {
    margin: 0;
}

.home-par {
    margin: 0;
    font-weight: normal;

}

.buttons {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    flex-wrap: wrap;


}

.btn {
    padding: 10px 22px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: normal;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: transform 180ms cubic-bezier(0.16, 0.84, 0.32, 1),box-shadow 180ms cubic-bezier(0.16, 0.84, 0.32, 1),background 0.22s ease,border-radius 180ms cubic-bezier(0.16, 0.84, 0.32, 1);

}

.one {
    background: linear-gradient(180deg,#ffffff,#fffbf7);
    color:var(--bg);
    border:1px solid rgba(0,0,0,.04);

}

.one:hover {
    background: linear-gradient(180deg,var(--ylw),#fb9817);
    color: white;
    transform: translateY(-4px);
}

.two {
    background: transparent;
    color: #ffffff;
    border: 2px solid var(--white);

}

.two:hover {
    color: var(--ylw);
    border-color:var(--ylw);
    transform: translateY(-2px);
}


.home-right {
    flex: 1 1 405px;
    display: flex;
    justify-content: center;
    align-items: center;


}


.coffeeimg {
    width: auto;
    height: auto;
    animation:float 6s ease-in-out infinite;
}

.about-section {
    background: var(--white);
    padding: 4rem 0;
    color: var(--dark);
    min-height: 500px;
}

.about-content {
    display: flex;
    gap: 2rem;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    padding: 3rem;
}

.about-left img{
    width: 300px;
    height: 300px;
}

.about-right {
    flex:1;
    min-width: 260px;
}

.aboutpar {
    font-weight: normal;
    text-align: justify;

}


.menu-section {
    background: var(--dark);
    color: var(--white);
    padding: 3rem 0;

}

.menu-title {
    text-align: center;
    font-size: 1.6rem;
    font-weight: bolder;
    
}

.menu-title::after {
    content: '';
    display: block;
    width: 80px;
    height: 5px;
    background: var(--ylw);
    margin: 0rem auto 4rem auto;
    border-radius: 4px;

}


.menu-cards {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
    align-items: Start;
    
}

.menu-card {
    width: 300px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-self: center;
    border: 4px ridge rgb(255, 184, 77);
    border-radius: 30px;
    background: transparent;
    transition: transform 360ms cubic-bezier(0.16,0.84,0.32,1),box-shadow 360ms cubic-bezier(0.16,0.84,0.32,1), background 0.22s ease;
   



}


.menu-card:hover{
    transform:translateY(-8px);
    box-shadow:0 18px 36px rgba(0,0,0,.28);
}

.menu-card img {
    display: block;
    margin-bottom: 1rem;
    width: 250px;
    height: 250px;
    object-fit: cover;
}


.menu-card p {
  line-height: 1.5;
  overflow-wrap: break-word;
  word-break: break-word;
}


.menu-card h3 {
    color: var(--ylw);
}



.contactus-section {
    background: #ffffff;
    padding: 3rem;
    color: var(--dark);
    min-height: 500px;
}


.contactus-content {
    max-width: 600px;
    margin: auto;
    padding: 2rem 0;
}

.contact-title {
    text-align: center;
    margin-bottom: 2rem;
    font-weight: bold;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-group{
    display:flex;
    flex-direction:column;
    gap: 0.5rem;
}

.contact-form input, .contact-form textarea {
    padding:10px;

    border-radius: 12px;
    border : 2px solid #e0e0e0;
    background: #ffffff; 
    font-size:small;
    color: #000000;
    box-shadow:0 6px 18px rgba(0, 0, 0, 0.09);



}

.contact-form input:focus,.contact-form textarea:focus {
    transform:translateY(-2px);
    outline-color: var(--bg);


}


.submit {
    width : 100px;
    align-self: center;
    padding:10px;
    border-radius: 999px;
    border: none;
    color: #ffffff;
    background: var(--ylw);
    font-weight:normal;
    cursor: pointer;
    box-shadow:0 3px 6px rgba(0, 0, 0, 0.274);

}

.submit:hover {
    transform:translateY(-3px);
}


.submit:active {
    transform:translateY(1px)
}

.footer {
    background: #1F1F1F;
    color: #ffffff;
    padding:18px 0;
    display: flex;
    justify-content:center;
    align-items:center;

}



@keyframes float{
    0%{transform:translateY(0)}
    50%{transform:translateY(6px)}
    100%{transform:translateY(0)}
}



@media (max-width:1164px) {
    .menu-cards {grid-template-columns:repeat(2,400px)}
    .coffeeimg {max-width:400px}
}

@media (max-width:760px) {
    .menu-cards {grid-template-columns:1fr;}
    .about-content {
        gap: 0 ; padding-top: 0;
    }
}

@media (max-width:888px) {
    .coffeeimg {max-width:300px ; height: auto;}
    .home-content {padding-top: 0;}

}
button, input, textarea, a { -webkit-tap-highlight-color: rgba(0,0,0,0.05); }
