
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: white;
 
    display: flex;
    flex-direction: column;
    min-height: 100vh; 

}


main.content {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: #333333;
    flex: 1;          
    padding: 20px;   
    box-sizing: border-box;
}


header {
    background-color: white;
    padding: 10px;
    color: #fb9817;
    text-align: center;
    
}

h1 {
    margin: 0;
    font-size: 2rem;
    letter-spacing: 1px;
}

section {
    margin-top: 20px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h2 {
    color: #333;
    margin-bottom: 15px;
    font-size: 1.5rem;
    font-weight: bold;
}

button {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 15px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}


#messages, #orders {
    margin-top: 20px;
    max-width: 100%;
    overflow: hidden;
}

.message, .order {
    background-color: #f8f9fa;
    margin-bottom: 15px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.deleteBtn {
    background-color: darkred;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 0.9rem;
    float: right;
    transition: background-color 0.3s ease;
}

.deleteBtn:hover {
    background-color: #8c2b1b;
}

.footer {
    background: #1F1F1F;
    color: #ffffff;
    padding: 18px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  
}


@media (max-width: 820px) {
    main.content { padding: 10px; }

    section {
        padding: 10px;
    }

    button {
        width: 100%;
    }

    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.2rem;
    }

    .message, .order {
        font-size: 0.9rem;
    }

    .deleteBtn {
        font-size: 0.8rem;
    }
}

.Rafraîchir {
    background: green;
    color: #fff;
}

.Rafraîchir:hover {
    background: green;
    color: #ffffff;
}